{% extends "query/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form action="{% url 'vid-query' %}" method="GET">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter user ID:</legend>
                <label for='user_id'>User ID:</label><br>
                <input type='text' id='user_id' name='user_id'><br>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="content-section">User IDs stored:</div>
    {% for user in users %}
    <p>{{ user }}</p>
    {% endfor %}
{% endblock content %}
